* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(72, 61, 139, 1) 100%);
}

h1 {
    text-align: center;
}

hr {
    font-weight: bold;
    height: 3px;
    background-color: black;
    margin-bottom: 10px;
    border: none;
    margin-bottom: 50px;
}

#info {
    text-align: center;
}

#jogador, #jogadas {
    margin-bottom: 10px;
}

table {
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-collapse: collapse; /* Substitui a regra do agente do usuário */
}

td {
    border: 2px solid;
    width: 100px;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

td:hover {
    background-color: aqua;
    transition: 0.5s;
}

.local:nth-child(1),
.local:nth-child(2),
.local:nth-child(3) {
    border-top: none;
}

.local:nth-child(1),
.local:nth-child(4),
.local:nth-child(7) {
    border-left: none;
}

.local:nth-child(3),
.local:nth-child(6),
.local:nth-child(9) {
    border-right: none;
}

/* Adicionamos uma nova classe para as células da última linha */
.bottom-border {
    border-bottom: none;
}

.vencedor {
    background-color: #00913f; /* Verde Limão */
}

.temporizador {
    text-align: center;
}

.footer {
    text-align: center;
}